! Font settings
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.antialias: 1
Xft.rgba: rgb

! XTerm settings
XTerm*faceName: Fira Mono
XTerm*faceSize: 14
XTerm*vt100.translations: #override \
    Shift Ctrl <Key> C: copy-selection(CLIPBOARD) \n\
    Shift Ctrl <Key> V: insert-selection(CLIPBOARD)
XTerm*color0:	#151515
XTerm*color1:	#9a0000
XTerm*color2:	#009a00
XTerm*color3:	#9a9a00
XTerm*color4:	#00009a
XTerm*color5:	#9a009a
XTerm*color6:	#009a9a
XTerm*color7:	#9a9a9a
XTerm*color8:	#303030
XTerm*color9:	#a20000
XTerm*color10:	#00a200
XTerm*color11:	#a2a200
XTerm*color12:	#0000a2
XTerm*color13:	#a200a2
XTerm*color14:	#00a2a2
XTerm*color15:	#a2a2a2
