Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.antialias: 1
Xft.rgba: rgb

UXTerm.termName: xterm
UXTerm*faceName: Fira Mono
UXTerm*faceSize: 14
UXTerm.vt100.locale: true
UXTerm.vt100.utf8: true
UXTerm.vt100.metaSendsEscape: true
UXTerm.vt100.backarrowKey: false
UXTerm.ttyModes: erase ^?
UXTerm.vt100.saveLines: 4096
UXTerm.vt100.scaleHeight: 1.01

UXTerm*vt100.translations: #override \
    Shift Ctrl <Key> C: copy-selection(CLIPBOARD) \n\
    Shift Ctrl <Key> V: insert-selection(CLIPBOARD)

*background:              #fafafa
*foreground:              #383a42

*color0:                  #383a42
*color1:                  #e45649
*color2:                  #50a14f
*color3:                  #c18401
*color4:                  #0184bc
*color5:                  #a626a4
*color6:                  #0997b3
*color7:                  #fafafa
*color9:                  #383a42
*color8:                  #e45649
*color10:                 #50a14f
*color11:                 #c18401
*color12:                 #0184bc
*color13:                 #a626a4
*color14:                 #0997b3
*color15:                 #fafafa
