Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

st.font = Fira Mono:pixelsize=16
st*foreground: #eff0eb
st*background: #282a36
st*cursorColor: #97979b

! Black + DarkGrey
st*color0: #282a36
st*color8: #686868

! DarkRed + Red
st*color1: #ff5c57
st*color9: #ff5c57

! DarkGreen + Green
st*color2: #5af78e
st*color10:#5af78e

! DarkYellow + Yellow
st*color3: #f3f99d
st*color11:#f3f99d

! DarkBlue + Blue
st*color4: #57c7ff
st*color12:#57c7ff

! DarkMagenta + Magenta
st*color5: #ff6ac1
st*color13:#ff6ac1

! DarkCyan + Cyan (both not tango)
st*color6: #9aedfe
st*color14:#9aedfe

! LightGrey + White
st*color7: #eff0eb
st*color15:#f1f1f0
